# Build results
[Bb]in/
[Oo]bj/
**/[Bb]in/**
**/[Oo]bj/**
[Ll]og/
[Ll]ogs/
[Tt]est[Rr]esult*/
TestResults/

# Visual Studio / VS Code
.vs/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.user
*.suo
*.userosscache

# NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets
project.lock.json
project.assets.json
*.csproj.nuget.dgspec.json
project.nuget.cache

# .NET Core
artifacts/
*.dll.config
*.cache

# Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
